<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="landing-page-box.css">
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <body>
        <header>
            <nav>
                <ul class="navbar">
                    <li class="navbar-list-item"><img src="https://media.discordapp.net/attachments/866777399379230810/871823842610405396/Progenie_infinity_white.png?width=1025&height=177" id="nav-logo"></li>
                    <li class="navbar-list-item"><a href="https://2021.igem.org/Team:UCSC/Project">Project</a></li>
                    <li class="navbar-list-item"><a href="https://2021.igem.org/Team:UCSC/Human_Practices">Human Practices</a></li>
                    <li class="navbar-list-item"><a href="https://2021.igem.org/Team:UCSC/Team">Team</a></li>
                    <li class="navbar-list-item"><a href="https://2021.igem.org/Team:UCSC/Parts">Parts</a></li>
                    <!--<li class="navbar-list-item"><a href="https://2021.igem.org/Team:UCSC/Safety">Safety</a></li>
                    <li class="navbar-list-item"><a href="https://2021.igem.org/Team:UCSC/Poster">Poster</a></li>
                    <li class="navbar-list-item"><a href="https://2021.igem.org/Team:UCSC/Awards">Awards</a></li>-->
                </ul>
            </nav>
        </header>
        <div class="banner">
            <div class="banner-text">
                    <h1>Landing Page</h1>
            </div>
        </div>
        <main class="grid">
            <section>
                <div class="flexbox-container">
                    <div class="card">
                        <h2>Main Point </h2>
                        
                        <p> Paragraph explaining what this landing page is addressing. Will give some type of brief intro into what
                        the section of tabs are gonna be about. Paragraph explaining what this landing page is addressing. Will give some type
                        of brief intro into what the section of tabs are gonna be about.Paragraph explaining what this landing page is addressing.
                        Will give some type of brief intro into what the section of tabs are gonna be about.Paragraph explaining what this landing page is
                        addressing. Will give some type of brief intro into what the section of tabs are gonna be about.Paragraph explaining what this
                        landing page is addressing. Will give some type of brief intro into what the section of tabs are gonna be about.Paragraph explaining
                        what this landing page is addressing. Will give some type of brief intro into what the section of tabs are gonna be about.</p>
                    </div>
                </div>
                <div class="box-container">
                    <div class="box1">
                        <li class="box-container-item"><a href="https://2021.igem.org/Team:UCSC/Project">Tab 1</a></li>
                    </div>
                    <div class="box2">
                        <li class="box-container-item"><a href="https://2021.igem.org/Team:UCSC/Project">Tab 2</a></li>
                    </div>
                    <div class="box3">
                        <li class="box-container-item"><a href="https://2021.igem.org/Team:UCSC/Project">Tab 3</a></li>
                    </div>
                    <div class="box4">
                        <li class="box-container-item"><a href="https://2021.igem.org/Team:UCSC/Project">Tab 4</a></li>
                    </div>
                </div> 
            </section>
        </main>
            <div class="footer">
                <div class="container">
                    <div class="sec aboutus">
                        <u1 class="rhi">
                            <div class="rhi-exp">
                                <li><a href=="#"><img src="https://igem.org/wiki/images/9/9c/IGEM_logo_2500x2500.png" alt="spinning planet"/></a></li>
                                <li><a href=="#"><img src="https://www.califesciences.org/wp-content/uploads/2021/06/BL-logo-Rectanular-Color.png"/></a></li>
                                <li><a href=="#"><img src="https://theme.zdassets.com/theme_assets/9477380/b61bab664c4cbab436bdb27d9c9c9b186e3e91d5.png"/></a></li>
                                <li><a href=="#"><img src="https://res.cloudinary.com/dlcjuc3ej/image/upload/v1606433714/dpgbsvol0oi83mfhlkc1.png"/></a></li>
                            </div>
                        </u1>
                    </div>
                    <div class="sec aboutus">
                        <u1 class="rhi">
                            <div class="rhi-exp">
                                <li><a href=="#"><img src="https://igem.org/wiki/images/9/9c/IGEM_logo_2500x2500.png" alt="spinning planet"/>
                                <li><a href=="#"><img src="https://www.califesciences.org/wp-content/uploads/2021/06/BL-logo-Rectanular-Color.png"/></a></li>
                                <li><a href=="#"><img src="https://theme.zdassets.com/theme_assets/9477380/b61bab664c4cbab436bdb27d9c9c9b186e3e91d5.png"/></a></li>
                                <li><a href=="#"><img src="https://res.cloudinary.com/dlcjuc3ej/image/upload/v1606433714/dpgbsvol0oi83mfhlkc1.png"/></a></li>
                            </div>
                        </u1>
                    </div>
                    <div class="sec quicklinks">
                        <h2>Follow Us</h2>
                            <u1 class="sci">
                                  <li><a href=="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                  <li><a href=="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                  <li><a href=="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                  <li><a href=="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                            </u1>

                    </div>
                    <div class="sec quicklinks">
                        <h2>Contact Us</h2>
                        <u1>
                            <li><a href=="#">Baskin School of Engineering</a></li>
                            <li><a href=="#">1156 High Street</a></li>
                            <li><a href=="#">Santa Cruz, CA 95060, USA</a></li>
                        <u1>
                    </div>
                </div>
            </div>  
    </body>
</html>
