<html>
    <head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="updated-homepage-template.css">
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <body>
        <header>
            <nav>
                <ul class="navbar">
                    <li class="navbar-list-item"><img src="https://media.discordapp.net/attachments/866777399379230810/871823842610405396/Progenie_infinity_white.png?width=1025&height=177" id="nav-logo"></li>
                    <li class="navbar-list-item"><a href="https://2021.igem.org/Team:UCSC/Project">Project</a></li>
                    <li class="navbar-list-item"><a href="https://2021.igem.org/Team:UCSC/Human_Practices">Human Practices</a></li>
                    <li class="navbar-list-item"><a href="https://2021.igem.org/Team:UCSC/Team">Team</a></li>
                    <li class="navbar-list-item"><a href="https://2021.igem.org/Team:UCSC/Parts">Parts</a></li>
                    <!--<li class="navbar-list-item"><a href="https://2021.igem.org/Team:UCSC/Safety">Safety</a></li>
                    <li class="navbar-list-item"><a href="https://2021.igem.org/Team:UCSC/Poster">Poster</a></li>
                    <li class="navbar-list-item"><a href="https://2021.igem.org/Team:UCSC/Awards">Awards</a></li>-->
                </ul>
            </nav>
        </header>
        <div class="banner">
            <div class="banner-text">
                    <h1>An Antibiotic Free Method of Eliminating Harmful Genes</h1>
            </div>
        </div>
        <main class="grid">
            <section>
                <div class="card-part-3">
                    <div class="row">
                        <div class="column">
                            <img src="https://i.pinimg.com/originals/03/a8/e6/03a8e68944683bd0f54ca5f9acd51094.jpg">
                        </div>
                        <div class="column">
                            <h2>Manure has been shown to contain high loads of broad-host-range plasmids, promoting the transfer of
                            antibiotic resistant genes via horizontal gene transfer.</h2>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                    <div class="card-part-3">
                        <div class="row">
                            <div class="column">
                                <img src="https://i.pinimg.com/originals/03/a8/e6/03a8e68944683bd0f54ca5f9acd51094.jpg">
                            </div>
                            <div class="column">
                                <h2>Around 600 million people around the world fall ill due to foodbore illness.</h2>
                            </div>
                        </div>
                    </div>
            </section>
            <section>
                <div class="card-part-3">
                    <div class="row">
                        <div class="column">
                            <img src="https://i.pinimg.com/originals/03/a8/e6/03a8e68944683bd0f54ca5f9acd51094.jpg">
                        </div>
                        <div class="column">
                            <h2>97% of outbreaks associated with Shiga toxin-producing Escheria Coli (STEC) occur
                            in the Americas.</h2>
                        </div>
                    </div>
                </div>
            </section>
            <section>
               <div class="card-part-3">
                    <div class="row">
                        <div class="column">
                            <img src="https://i.pinimg.com/originals/03/a8/e6/03a8e68944683bd0f54ca5f9acd51094.jpg">
                        </div>
                        <div class="column">
                            <h2>97% of outbreaks associated with Shiga toxin-producing Escheria Coli (STEC) occur
                            in the Americas.</h2>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <main class="single-grid">
            <section>
                <div class="card">
                    <h2>The Problem</h2>
                    
                    <p> California is the leading producer of leafy green vegetables, contributing roughly __ a year to our state's economy, and providing jobs for
                    __ % of people in the workforce. 
                    Other products such as ground beef play an important role in the economy as well, with a profit of __ dollars. Production of vegetables
                    and meat opens the door for many pathogens in cattle and soil to be transmitted to humans, who may fall ill from the consumption of
                    contaminated foods.</p> 

                    <p> One main threat to human health is STEC, which comes from consumption of contaminated lettuce and meat products, causing diarrhea and
                    Hemolytic Uremic Syndrome (HUS), a potentially fatal kidney disorder. STEC is one of the top 3 food borne illnesses, due to the high demand
                    for greens and meat, but the detection and prevention of contaminated food is hard to manage on such a large scale. Seeing as we are a California
                    team in an agriculture-centric area, it became important for us to look into the threats of foodborne illness coming from our own backyard in
                    hopes to prevent outbreaks at the source of the issue. </p>

                    <p>In recent years, antibiotic resistance has become an increasingly harmful issue in medical and agricultural settings, threatening human health
                    and leaving few alternative treatments for conditions that require antibiotics. As recently as April of this year, the World Health Organization
                    revealed that “ none of the 43 antibiotics that are currently in clinical development sufficiently address the problem of drug resistance in the
                    world’s most dangerous bacteria,” and further, “82% of the recently approved antibiotics [are] derivatives of existing antibiotic classes with
                    well-established drug-resistance.” This issue will only become greater as antibiotics are administered in higher dosages to combat these resistant
                    bacteria. </p>

                    <h2>Our Solution</h2>

                    <p>We have designed a solution to disarming pathogenic bacteria without the need for antibiotics. By creating a
                    site-specific gene targeting system that utilizes INTEGRATE -- an RNA-guided transposition technique -- we are creating a solution that could
                    be adapted to target genes in many different bacterial species, lessening the possibility of foodborne illness, and slowing the spread of
                    antimicrobial resistance.</p>
                </div>
            </section>
        </main>
            <div class="footer">
                <div class="container">
                    <div class="sec aboutus">
                        <u1 class="rhi">
                            <div class="rhi-exp">
                                <li><a href=="#"><img src="https://igem.org/wiki/images/9/9c/IGEM_logo_2500x2500.png" alt="spinning planet"/></a></li>
                                <li><a href=="#"><img src="https://www.califesciences.org/wp-content/uploads/2021/06/BL-logo-Rectanular-Color.png"/></a></li>
                                <li><a href=="#"><img src="https://theme.zdassets.com/theme_assets/9477380/b61bab664c4cbab436bdb27d9c9c9b186e3e91d5.png"/></a></li>
                                <li><a href=="#"><img src="https://res.cloudinary.com/dlcjuc3ej/image/upload/v1606433714/dpgbsvol0oi83mfhlkc1.png"/></a></li>
                            </div>
                        </u1>
                    </div>
                    <div class="sec aboutus">
                        <u1 class="rhi">
                            <div class="rhi-exp">
                                <li><a href=="#"><img src="https://igem.org/wiki/images/9/9c/IGEM_logo_2500x2500.png" alt="spinning planet"/></a></li>
                                <li><a href=="#"><img src="https://www.califesciences.org/wp-content/uploads/2021/06/BL-logo-Rectanular-Color.png"/></a></li>
                                <li><a href=="#"><img src="https://theme.zdassets.com/theme_assets/9477380/b61bab664c4cbab436bdb27d9c9c9b186e3e91d5.png"/></a></li>
                                <li><a href=="#"><img src="https://res.cloudinary.com/dlcjuc3ej/image/upload/v1606433714/dpgbsvol0oi83mfhlkc1.png"/></a></li>
                            </div>
                        </u1>
                    </div>
                    <div class="sec quicklinks">
                        <h2>Follow Us</h2>
                            <u1 class="sci">
                                  <li><a href=="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                  <li><a href=="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                  <li><a href=="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                  <li><a href=="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                            </u1>

                    </div>
                    <div class="sec quicklinks">
                        <h2>Contact Us</h2>
                        <u1>
                            <li><a href=="#">Baskin School of Engineering</a></li>
                            <li><a href=="#">1156 High Street</a></li>
                            <li><a href=="#">Santa Cruz, CA 95060</a></li>
                        <u1>
                    </div>
                </div>
            </div> 
        </header>
    </body>
</html>
